<div class="center jumbotron">
  <h1>Trasvasije Alex Soto</h1>
  <h2>Bienvenidos a nuestra página</h2>
  <%= link_to "Ingresar", {controller: "home", action: "index"}, class: "btn btn-lg btn-primary" %>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>